* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
}

/*-----------START----------*/

.header {
	display: flex;
	justify-content: space-around;
	width: 100%;
	margin: 0;
}

.logo-link img {
	z-index: 1;
}

.menu {
	width: 100%;
	margin: 0;
}

.nav {
	display: flex;
	background-color: #fff;
	width: 100%;
	height: 50px;
	justify-content: space-around;
}

.nav-left{
	vertical-align: middle;
	padding-top: 15px;
	margin: 0;
}

.nav-left a {
	text-decoration: none;
	font-size: 18px;
	margin: 20px;
	text-transform: uppercase;
	font-family: 'PT Sans', sans-serif;
	color: black;
}

.nav-link {
	padding-top: 15px;
}

/*------------END-----------*/
/*-----------START----------*/
.under-header {
	display: flex;
}

.under-wrap {
	background-image: url(../image/back-desktop.png); 
	width:  	100%;
	height: 	750px; 
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	z-index: -10;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.under-wrap {
	display: flex;
	flex-direction: column;
}

/*-------------START-----------------*/

.features-start {
	display: flex;
	justify-content: space-around;
	vertical-align: middle;
	width: 100%;
	height: 400px;
}

.features-start-block {
	text-align: center;
	margin-top: 100px;
}

.features-start-block span{
	font-family: 'PT Sans', sans-serif;
	text-transform: uppercase;
	font-size: 20px;
}

.start-header {
	font-family: 'PT Sans', sans-serif;
	font-size: 30px;
}

/*--------------END------------------*/

/*-------------START-----------------*/

.features1 {
	display: flex;
	background-color: #81b3d2;
	width: 100%;
	height: 450px;
	margin: 0;
	padding: 0;
}

.features1-textinfo {
	display: flex;
	width: 40%;
	text-align: center;
	align-items: center;
	flex-direction: column;
	vertical-align: middle;
	justify-content: space-around;
}

.textinfo-header {
	text-transform: uppercase;
	font-family: 'PT Sans', sans-serif;
	font-size: 30px;
	color: #fff;
}

.features1-textinfo span{
	font-size: 24px;
	color: #fff;
	margin: 0;
	padding: 0;
}

.textinfo-desc {
	
	font-family: 'PT Sans', sans-serif;
	font-size: 24px;
	color: #fff;
}

.features1-pic {
	display: flex;
	background-image: url(../image/block1.png);
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}

/*--------------END-----------------*/

/*-------------START-----------------*/

.block2-title {
	align-items: center;
	background-color: #81b3d2;
	color: #fff;
}

.block2 {
	display: flex;
	background-color: #81b3d2;
}

.block2-picture img {
	width: 100%;
	height: 100%;
}

.block2-text {
	align-self: center;
	text-align: center;
}

/*--------------END------------------*/

/*--------------START----------------*/

.recomendation {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 100%;
	height: 400px;
	vertical-align: middle;
}

.hostel {
	padding-top: 80px;
	align-items: center;
	text-align: center;
	margin: 30px;
}

.meal {
	padding-top: 80px;
	align-items: center;
	text-align: center;
	margin: 30px;
}

.gifts {
	padding-top: 80px;
	align-items: center;
	text-align: center;
	margin: 30px;
}

.recomendation-header p{
	text-transform: uppercase;
	font-size: 28px;
	font-family: 'PT Sans', sans-serif;
}

.recomendation-desc p{
	width: 300px;
	text-transform: uppercase;
	font-size: 16px;
	font-family: 'PT Sans', sans-serif; 
}

/*---------------END-------------------*/

/*--------------START------------------*/

.features2 {
	display: flex;
	width: 100%;
	height: 450px;
}

.features2-pic {
	display: flex;
	background-image: url(../image/block2.png);
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}

.textinfo-header {
	width: 100%;
}

/*----------------END--------------------*/





